:root {
    --col: 10% 80% 10%;

    --nav-height: 5rem;

    --color-white: #FFFFFF;
    --color-beige: #FFD19D;
    --color-gray: #AEB5BD;
    --color-lightblue: #4D80C9;
    --color-red: #E93841;
    --color-darkpurble: #100820;
    --color-purble: #511E43;
    --color-darkblue: rgba(18, 48, 86);
    --color-orange: #F1892D;
    --color-brown: #823E2C;
    --color-lightpink: #FFA9A9;
    --color-lightgreen: #5AE150;
    --color-yellow: #FFE947;
    --color-lightpurble: #7D3EBF;
    --color-pink: #EB6C82;
    --color-greem: #1E8A4C;

    --color-bright: var(--color-darkpurble);
    --color-dark: var(--color-white);

}


body:has(dialog[open]) {
    overflow: hidden;
    padding-right: 1rem;
}

p {
    line-height: 1.4em;
}

.intro-title {
    font-size: 8em;
    margin-bottom: 0.5em;

    padding-top: calc(var(--nav-height) / 2);

}

.xp {
    margin-left: -33%; /* pull it 20% into col 1 */
    background: #4D80C9;
}


h2 {
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 1rem;
}


a {
    text-decoration: underline;
    color: inherit;

    line-height: 1.4em;
}


li {
    margin: 0.5rem 0;


}

.front-section {
    min-height: 100vh;


}


.intro-navigate {
    border-top: var(--color-bright) solid 1px;
    margin-top: 1em;
    display: flex;
    flex-direction: column;

}

.bg-bright {
    background: var(--color-bright);
    color: var(--color-dark);
    border: var(--color-bright)

}


.bg-dark {
    background: var(--color-white);
    color: var(--color-bright);
    border: var(--color-dark);
}

body {
    font-family: "Noto Sans Elbasan", sans-serif;
    font-weight: 400;
    font-style: normal;

    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: var(--col);
    row-gap: 1em;
}

.p-top {
    padding-top: var(--nav-height);
}

.py-3 {
    padding-top: 3em;
    padding-bottom: 3.5em;
}


.nav-container {
    width: 100%;
    height: var(--nav-height);
    position: fixed;
}


.padding {
    padding-top: var(--nav-height);

}


.intro-text {
    width: 50%;
}

.intro-text p {

    font-size: 1.1rem;

    padding: 0.5rem;

    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.nav {
    height: 100%;

    z-index: 2000;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-link {
    padding: 0.5rem 1rem;

    background: var(--color-bright);

    display: flex;
    align-items: center; /* vertical centering */
    gap: 1rem;
    margin-left: 2rem;
    border-radius: 0.5rem;

    color: #fff;
}

.back-link span {
    padding-top: 0.1rem;
}


.back-link img {
    display: block; /* removes inline spacing quirks */

}


.nav-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;

    text-align: center;


    padding: 0.5rem 1rem;
    border-radius: 0.5rem;

    margin-right: 2rem;

    background: var(--color-bright);
}

.nav-spacer {
    padding-top: var(--nav-height);
}

.pixel-art {
    image-rendering: pixelated;
    image-rendering: crisp-edges; /* fallback for older browsers */
    width: auto;
    height: auto;
}

.intro {
    grid-column: 2;
}

.col-2 {
    align-items: start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

.project-gallery {
    grid-column-start: 2;

}

.col-3 {
    align-items: start;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

.col-4 {
    align-items: start;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
}

.project-showcase {
    grid-column: 2;
}

.project-card img {
    border-radius: 0.5em;
    object-fit: cover;
    aspect-ratio: 2/1;
    width: 100%;
}

.project-card {
    all: unset;

    cursor: pointer;

    gap: 1em;
    width: 100%;

    text-decoration: unset;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    margin-bottom: 0;
}

.tags {
    display: flex;
    justify-content: start;
    gap: 0.3rem;


    align-items: center;


    margin: 0;
    padding: 0;

}

.tags p {
    font-size: 0.7rem;

    margin: 0;

    color: var(--color-white);
    alignment-baseline: central;
    background: var(--color-gray);

    padding: 0.6rem 0.5rem 0.5rem;

    font-weight: bold;

    border-radius: 5rem;
    display: flex; /* make the <p> a flex container */
    align-items: center; /* vertically center text */
    justify-content: center; /* horizontally center text (optional) */


}


.project-card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}

.project-card-desc {
    padding-top: 0;
    padding-bottom: 1em;
}

.project-card .project-card-desc h3 {
    margin: 0;
    font-size: 1.5em;
}

.project-card .project-card-desc p {
    margin: 0.5em 0 0;
    font-size: 1em;
}


.more-projects {
    width: fit-content;
    padding: 1em;

    border-radius: 0.5em;
}


.h-10 {
    min-height: 30rem;
}


.footer {
    height: 30vh;
}


.dialog {
    width: 50vw;


    border: none;
    border-radius: 1rem;
    padding: 2rem 2rem 8rem 2rem
}


.close-dialog {
    grid-column: 5;
    justify-self: end;
    align-self: flex-start;

    display: inline-flex;
    align-items: center;
    padding: 0.5rem 0.7rem;
    border: none;

    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    gap: 8px;
}

.dialog-title {

    grid-column-start: 2;
    grid-column-end: 5;
}

.dialog-title h2 {
    font-size: larger;
    margin: 0;

}


.dialog-head {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 1fr 10%;
    gap: 1rem;

    align-items: center;

    margin-bottom: 2rem;
}


.dialog-body {
    height: 70vh;

    display: grid;
    overflow-y: scroll;
    grid-template-columns: 10% 1fr 1fr 1fr 10%;

    gap: 1rem
}


.play-link {
    font-size: x-large;

    align-self: end;
}


.dialog-article {
    grid-column: 2 / 5;
    height: 50vh;
}


.nav-icon img {
    height: 1.5em; /* match text height */
    width: auto; /* keep proportions */
    vertical-align: middle;
}


.teaser-image {
    border-radius: 0.5em;
    object-fit: cover;
    width: 100%;
}

.teaser-article {
    margin-top: 2rem;
}


.teaser-text {
    font-size: xxx-large;
    margin-top: 1rem;

    margin-bottom: 1rem;

    line-height: 1em;
}

.teaser-cta {
    padding-top: 1em;
    padding-bottom: 1em;


}


.m-0 {
    margin: 0;
}


/* Mobile Styles (Small Screens) */
@media (max-width: 600px) {

    .col-2 {

        align-items: start;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;

    }


    .front-section {
        min-height: 75vh;
    }


    .intro-title {
        font-size: 4em;
    }

    .intro-text {
        width: 100%;
    }

    .col-3 {
        grid-template-columns: 1fr
    }

    .col-4 {
        grid-template-columns: 1fr
    }

    .dialog-head {
        grid-template-columns: 0 1fr 1fr 1fr 0;


    }

    .dialog-body {
        grid-template-columns: 0 1fr 1fr 1fr 0;
        height: 60vh;

    }

    .dialog {
        width: 80vw;
    }
}

/* Medium Screens (Tablets, etc.) */
@media (min-width: 601px) and (max-width: 1024px) {
    .front-section {
        min-height: 75vh;
    }

    .intro-title {
        font-size: 6em;
    }

    .col-3 {
        grid-template-columns: 1fr 1fr
    }

    .col-4 {
        grid-template-columns: 1fr 1fr
    }

    .intro-text {
        width: 100%;
    }

    .dialog-head {
        grid-template-columns: 10% 1fr 1fr 1fr 10%;


    }

    .dialog-body {
        grid-template-columns: 10% 1fr 1fr 1fr 10%;
        height: 70vh;

    }


    .dialog {
        width: 80vw;
    }


}

/* Large Screens (Desktops) */
@media (min-width: 1025px) {


}

