:root {
    --col: 10% 80% 10%;
    
    --nav-height: 3em;
    


}

p {
    line-height: 1.4em;
}

.intro-title {
    font-size: 8em;
    margin-bottom: 0.5em;
}


a {
    text-decoration: underline;
    color:#2e2e2e;
    
    line-height: 1.4em;
}

.intro-navigate {
    border-top: #2e2e2e solid 1px;
    margin-top: 1em;
    display: flex;
    flex-direction: column;

}

.bg-bright {
    background: #bbc4c5;
    color: #2e2e2e;

}


.bg-dark {
    background: #2e2e2e;
    color: #bbc4c5;

}

body {
    font-family: "Noto Sans Elbasan", sans-serif;
    font-weight: 400;
    font-style: normal;

   

    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: var(--col);


    row-gap: 2em;
}

.p-top {
    padding-top: var(--nav-height);
}


.nav-container {

    width: 100%;
    height: var(--nav-height);
    position: fixed;
}


.intro-text p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.nav {
    height: 100%;

    display: flex;
    justify-content: end;
    align-items: center;
}

.nav-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

.nav-spacer {
    padding-top: var(--nav-height);
}

.intro {
    height: 90vh;
    grid-column: 2;
}

.projects-desc {
    border-bottom: #bbc4c5 1px solid;
}

.col-2 {
    
    
    align-items: start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.project-showcase {
    grid-column: 2;




    height: 60vh;
}


/* Mobile Styles (Small Screens) */
@media (max-width: 600px) {
   

}

/* Medium Screens (Tablets, etc.) */
@media (min-width: 601px) and (max-width: 1024px) {


}

/* Large Screens (Desktops) */
@media (min-width: 1025px) {
  

}

